.base{
  margin-left: 6px;
  margin-bottom: 15px;
  height: 280.55px;
  display: flex;
  position: relative;
}

.link{
  position: relative;
}

.pic{
  display: inline-block;
  width: 500px;
  border-radius: 15px;
  margin-right: 14px;
  cursor: pointer;
}

.time {
  font-size: 12px;
  font-weight: 500;
  padding: 3px 3px 3px 3px;
  border-radius: 4px;
  position: absolute;
  bottom: 12px;
  right: 27px;
  color: white;
  background-color: rgba(0, 0, 0, 0.638) 
}

.video-settings-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -8px;
  right: 26px;
  transition: border-color 0.4s;
}

.video-settings-btn:hover{
  background-color: rgba(40, 40, 40, 0.8);
}

.video-settings{
  width: 24px;
  height: 24px;
}

.description{
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  height: 100px;

  min-width: 300px;
  flex-shrink: 1;
}

.avatar{
  display: inline-block;
  border-radius: 50%;
  width: 24px;
}

.creator{
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
}

.name{
  display: inline-block;
  vertical-align: top;
  transition: color 0.05s;
}

.name:hover{
  color: rgb(241, 241, 241);
}

.title{
  margin-bottom: 5px;
}

.stats, .name, .des{
  color: rgb(170, 170, 170);
  font-size: 12px;
}

.stats{
  margin-bottom: 11px;
}

.name{
  font-size: 14px;
}

.ohdear{
  font-weight: 500;
  font-family: 'Times New Roman';
}